<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/header')%>
</head>
<body>
    <%- include ('partials/navigation') %>
    <div class="container p-4">
        <form method="POST" action="/new-entry" class="card card-body">
            <div class="form-group">
                <label for="title">title</label>
                <input type="text" class="form-control" name="title" placeholder="Agrege el titulo" autofocus required>
            </div>
            <div class="form-group">
                <label for="site">Site</label>
                <input type="url" class="form-control" name="site" placeholder="Agrege el titulo" required>
            </div>
            <div class="form-group">
                <label for="title">Description</label>
                <textarea name="description" id="description" rows="2" class="form-control" required></textarea>
            </div>
            <input type="submit" value="Save URL" class="btn btn-primary">
        </form>
    </div>
</body>
</html>